.firstimage {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.heading1 {
  text-align: center;
}

body {
  background-color: #f4f4f4;
}
#gunnapage {
  background-color: rgb(50, 146, 50);
}

img {
  border-radius: 25px;
  align-self: center;
}

#t1 {
  text-align: center;
}

#p1 {
  font-weight: bold;
}

p.amadouintro {
  font-weight: bold;
}

#shead {
  text-align: center;
}

.subhead {
  text-align: center;
}

.gunnaimge {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.lyrictext {
  text-align: center;
}

#songby {
  text-align: center;
}
